[submodule "ctd-eureka-server"]
	path = ctd-eureka-server
	url = https://github.com/ALTbruno/ctd-eureka-server
[submodule "ctd-config-server"]
	path = ctd-config-server
	url = https://github.com/ALTbruno/ctd-config-server
